<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entregas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Estilos/Cadastros.css">
</head>
<body>
    <div class="wrapper d-flex"></div>    
        <!--Menu Lateral-->
        <div class="sidebar" id="sidebar">
            <div class="logo">
                <img src="../../Static/Logo2.jpg" alt="">
            </div>
            <div class="folder">Atualizações</div>
            <div class="sub-menu">
                <a href="../Entregas/Entregas.html">Entregas</a>
                <a href="../Entregas_Avulsas/Entregas_Avulsas.html">Entregas Avulsas</a>
                <a href="../Entregadores/Entregador.html">Cadastro de Entregador</a>
                <a href="../Vendedores/Vendedor.html">Cadastro de Vendedor</a>
                <a href="#">Cadastro de Empresa</a>
            </div>
            <div class="folder">Relatórios</div>
            <div class="sub-menu">
                <a href="../Relatorios/Relatorio_Analitico.html">Entregas Analítico</a>
                <a href="../Relatorios/Relatorio.html">Entregas Sintético</a>
                <a href="#">Entregas Avulsas</a>
            </div>
            <div class="folder">Miscelânea</div>
            <div class="sub-menu">
                <a href="#">Localizar Entregador</a>
                <a href="SobreNos.html">Sobre Nós</a> <!-- Novo link para a página de "Sobre Nós" -->
                <a href="#">Versão do Software</a>
            </div>
        </div>

        <!-- Botão de alternância para a sidebar -->
        <span class="menu-toggle" id="menuToggle">&#9776;</span>

        <!-- FIM DO Menu Lateral-->
        <div class="container-fluid sidebar-expanded">
            <header class="header">
                <h1>SOBRE NÓS</h1> <!-- Alterado para título "Sobre Nós" -->
                <div class="user-info">
                    <p id="welcome">Seja bem-vindo: Fulano</p>
                    <p id="dateTime"> teste</p> <!-- Data e Hora irão aqui -->
                </div>
            </header>

            <!-- Seção Sobre Nós -->
            <section class="content">
                <div class="card">
                    <div class="card-body">
                        <h2>Delivery Control</h2>
                        <p>Na Starck Tecnologia e na PlugadosDev, entregamos soluções de alta qualidade, desenvolvidas com as tecnologias mais avançadas e amplamente utilizadas no mercado. Nosso compromisso é simplificar a gestão operacional e oferecer insights estratégicos aos nossos clientes.</p>
                        <p>Um de nossos principais produtos é o <strong>Delivery Control</strong>, um sistema completo de controle de entregas que fornece análises gerenciais detalhadas, como o número de entregas realizadas por entregador em um período específico, localização em tempo real e distância percorrida. Além disso, o sistema permite o rastreamento dos entregadores durante o horário de expediente e oferece uma interface intuitiva e fácil de operar.</p>
                        <p>Com a Starck Tecnologia e a PlugadosDev, você conta com inovação e praticidade para otimizar suas operações e tomar decisões informadas.</p>
                    </div>
                </div>
            </section>
            <!-- Seção Sobre Nós -->
            <section class="content">
                <div class="card">
                    <div class="card-body">
                        <h2>Starck Tecnologia</h2>
                        <p>Desde 2020, a Starck Tecnologia desenvolve soluções para as áreas Web e Mobile, atendendo a diversos setores de negócios com excelência.</p>
                        <p>Entre nossos projetos de destaque, está o desenvolvimento do site Fortune Slots Cassino, que oferece uma ampla variedade de opções de apostas e entretenimento digital.</p>
                        <p>Corrigir e adicionar as informações</p>
                    </div>
                </div>
            </section>
            <!-- Seção Sobre Nós -->
            <section class="content">
                <div class="card">
                    <div class="card-body">
                        <h2>Plugados Dev</h2>
                        <p>Desde 2023, a Plugados Dev atua no mercado oferecendo soluções especializadas em implementação e integração de ferramentas para os principais ERPs do Brasil.</p>
                        <p>Nosso portfólio inclui a criação de workflows web, integrações REST e SOAP com diversos portais, além de implementações nativas</p>
                        <p>na linguagem específica de cada ERP, adaptando-se às necessidades de cada cliente com eficiência e precisão.</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script src="../../JS/Compartilhados.js"></script>
    <script src="../../JS/Index.js"></script>
    <script src="../../JS/Vendedores/Vendedor_Table.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
