<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entregas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Estilos/Cadastros.css">
</head>
<body>
    <div class="wrapper d-flex"></div>    
        <!--Menu Lateral-->
        <div class="sidebar" id="sidebar">
            <div class="logo">
                <img src="../../Static/Logo2.jpg" alt="">
            </div>
            <div class="folder">Atualizações</div>
            <div class="sub-menu">
                <a href="Entregas.html">Entregas</a>
                <a href="../Entregas_Avulsas/Entregas_Avulsas.html">Entregas Avulsas</a>
                <a href="../Entregadores/Entregador.html">Cadastro de Entregador</a>
                <a href="../Vendedores/Vendedor.html">Cadastro de Vendedor</a>
                <a href="#">Cadastro de Empresa</a>
            </div>
            <div class="folder">Relatórios</div>
            <div class="sub-menu">
                <a href="#">Entregas Analítico</a>
                <a href="#">Entregas Sintético</a>
                <a href="#">Entregas Avulsas</a>
            </div>
            <div class="folder">Miscelânea</div>
            <div class="sub-menu">
                <a href="#">Localizar Entregador</a>
                <a href="#">Sobre nós</a>
                <a href="#">Versão do Software</a>
            </div>
        </div>

        <!-- Botão de alternância para a sidebar -->
        <span class="menu-toggle" id="menuToggle">&#9776;</span>

        <!-- FIM DO Menu Lateral-->
        <div class="container-fluid sidebar-expanded">
            <header class="header">
                <h1>ROTINA DE ENTREGAS</h1>
                <div class="user-info">
                    <p id="welcome">Seja bem-vindo: Fulano</p>
                    <p id="dateTime"> teste</p> <!-- Data e Hora irão aqui -->
                </div>
            </header>
            <section class="controls d-flex">
                <div class="d-flex">
                    <button class="btn btn-secondary" onclick="redirecionarParaEntidade('entregas')">Incluir</button>
                    <button class="btn btn-secondary" onclick="visualizarEntrega()">Visualizar</button>
                    <button class="btn btn-secondary">Alterar</button>
                    <button class="btn btn-secondary" id="btnexcluir">Excluir</button>
                    <div class="dropdown_actions">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            Outras Ações
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#" id="assentrega">Assinar Entrega</a></li>
                            <li><a class="dropdown-item" href="#" id="finentrega">Finalizar Entrega</a></li>
                            <li><a class="dropdown-item" href="#" id="atribuirent">Atribuir a um entregador</a></li>
                            <li><a class="dropdown-item" href="#" id="abrirmaps">Local da entrega - MAPS</a></li>
                        </ul>
                    </div>
                </div>
                <div class="dropdown_filter d-flex align-items-center">
                    <button class="btn_filter btn btn-primary dropdown-toggle" type="button" id="dropdownFilterButton" data-bs-toggle="dropdown" aria-expanded="false">
                        &#9776;
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownFilterButton">
                        <li>
                            <div class="form-check">
                                <input class="form-check-input filter-checkbox" type="checkbox" id="status">
                                <label class="form-check-label" for="status">Status</label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input filter-checkbox" type="checkbox" id="codigo">
                                <label class="form-check-label" for="codigo">Código</label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input filter-checkbox" type="checkbox" id="documento">
                                <label class="form-check-label" for="documento">Documento</label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input filter-checkbox" type="checkbox" id="entregador">
                                <label class="form-check-label" for="entregador">Nome do Entregador</label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input filter-checkbox" type="checkbox" id="vendedor">
                                <label class="form-check-label" for="vendedor">Nome do Vendedor</label>
                            </div>
                        </li>
                    </ul>
                    <input class="form-control ms-2 mt-2 mt-md-0" id="Inputfind" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                </div>
            </section>

            <section class="grid-container table-scroll">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Código</th>
                            <th>Documento</th>
                            <th>Valor da Venda</th>
                            <th>Valor Recebido</th>
                            <th>Valor do Troco</th>
                            <th>Data</th>
                            <th>Hora</th>
                            <th>Nome do Entregador</th>
                            <th>Nome do Vendedor</th>
                        </tr>
                    </thead>
                    <tbody id="entregasBody">
                        
                    </tbody>
                </table>
            </section>
        </div>
    </div>

    <!-- Modal google maps-->
    <div class="modal fade" id="googleMapsModal" tabindex="-1" aria-labelledby="googleMapsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="googleMapsModalLabel">Confirmação</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Deseja Abrir o Google Maps?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn-sim" onclick="getCordenadas()">Sim</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="fecharEntregas()">Não</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Atribuir Entregador -->
    <div class="modal fade" id="atribuirentregador" tabindex="-1" aria-labelledby="atribuirentregadormodal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="atribuirentregadormodal">Atribuir Entregador</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="select-entregador">Entregador</label>
                            <select id="select-entregador" class="form-control">
                                <option value="">Selecione o Entregador</option>
                                <!-- As opções serão preenchidas pela função GetEntregadores() -->
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>
                    <button type="button" class="btn btn-primary" id="confirmar-entregador">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Finalização da Entrega-->
    <div class="modal fade" id="finalizarEntregaModal" tabindex="-1" aria-labelledby="finalizarEntregaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="finalizarEntregaModalLabel">Finalização Manual da Entrega</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="select-status-entrega">Selecione uma opção para finalizar a entrega:</label>
                            <select id="select-status-entrega" class="form-control">
                                <option value="">Selecione o status da entrega</option>
                                <option value="entregue">Entregue</option>
                                <option value="nao_entregue">Não Entregue</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn-sim" onclick="finalizarEntrega()">Sim</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="fecharEntregas()">Não</button>
                </div>
            </div>
        </div>
    </div>

     <!-- Assinatura da Entrega-->
     <div class="modal fade" id="assinaEntregaModal" tabindex="-1" aria-labelledby="assinaEntregaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="assinaEntregaModalLabel"> Assinatura da Entrega</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="select-status-entrega">Confirma Assinatura da entrega?</label>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="btn-sim" onclick="AssinarEntrega()">Sim</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="fecharEntregas()">Não</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Cancelamento da Entrega-->
    <div class="modal fade" id="cancelEntregaModal" tabindex="-1" aria-labelledby="cancelEntregaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cancelEntregaModalLabel"> Cancelamento da Entrega</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="select-status-entrega">Confirma o cancelamento da entrega?</label>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="btn-sim" onclick="CancelarEntrega()">Sim</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="fecharEntregas()">Não</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="../../JS/Compartilhados.js"></script>
    <script src="../../JS/Index.js"></script>
    <script src="../../JS/Entregas/Entregas_Table.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
