<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Entregas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Estilos/Entidades.css">
</head>
<body>
    <div class="container-fluid">
        <header class="header">
            <h1>ALTERAR ENTREGADOR</h1>
            <div>
                <button class="btn btn-secondary" onclick="voltarPrincipal('Entregador')">Fechar</button>
                <button  onclick="EnviarUpdate()" class="btn btn-secondary">Confirmar</button>
            </div>
        </header>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-dados-entrega" role="tabpanel">
                <form class="p-3">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="codigo">Código</label>
                            <input type="text" class="form-control" id="codigo" placeholder="Código">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="nome">Nome</label>
                            <input type="text" class="form-control" id="nome" placeholder="Nome">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="cpf">CPF</label>
                            <input type="text" class="form-control" id="cpf" placeholder="CPF">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="turno">Turno</label>
                            <input type="text" class="form-control" id="turno" placeholder="Turno">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="filial">Filial</label>
                            <input type="text" class="form-control" id="filial" placeholder="Filial">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="usuario">Usuário</label>
                            <input type="text" class="form-control" id="usuario" placeholder="Usuário">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="senha">Senha</label>
                            <input type="password" class="form-control" id="senha" placeholder="Senha">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="telefone">Telefone</label>
                            <input type="text" class="form-control" id="telefone" placeholder="Telefone">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="status">Status</label>
                            <input type="checkbox" id="status">
                            <span id="status-label" class="status-label">Inativo</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../../JS/Entregadores/Entregador_Update.js"></script>
    <script src="../../JS/Entregadores/Entregador_Entidade.js"></script>
    <script src="../../JS/Index.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>